<div class="">
    <h6>
        Video Demo
    </h6>
</div>
<div class="" style="margin-top: 0;">
    <iframe width="280" height="157" src="https://www.youtube.com/embed/gAbT9T7Vm-g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="row">
    <h6>
        Schematic Diagram
    </h6>
    <img src="/image/demo1.jpeg" alt="" class="center col s12 m10">
</div>
<div class="row">
    <h6>
        Electronic Diagram
    </h6>
    <img src="/image/demo2.jpeg" alt="" class="col s12 m10">
</div>
<div class="row">
    <h6>
        Data Flowchart
    </h6>
    <img src="/image/demo3.png" alt="" class="col s12 m10">
</div>