<div class="row">

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="input-field col">
            <input type="file" name="imageFile" id="file">
        </div>
        <div class="input-field col">
            <input type="file" name="audioFile" id="file">
        </div>
        <div class="input-field col">
            <input type="submit" value="Submit" class="btn red">
        </div>
        
    </form>

</div>
