<h5>
<i class="fa fa-medkit" aria-hidden="true"></i>
    <span class="covid-text">
        COVID CONSOLE
    </span>
</h5>

<div class="section">
    <div class="lead">
        Log in to access information of detected individauls
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <a class="btn red" href="/ui/dashboard">
        <i class="fa fa-user left"></i>Sign In
    </a>
</div>